.tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  display: none;
  padding: 5px;
  pointer-events: none;
  position: initial;
  width: 100%;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* CSS Triangles - see Trevor's post */
.tooltip:before {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid #1496bb 10px;
  content: " ";
  height: 0;
  left: 20pt;
  margin-left: -13px;
  position: relative;
  width: 0;
  top: -24pt;
}
