<h2>{{ message }}</h2>
{% if error == 0 %}
    <div id="main">
        <div id="inner">
            <div>
                <fieldset id="regions">
                    {{ table }}
                    {{ pager }}
                </fieldset>
            </div>
        </div>
    </div>
{% endif %}